* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #494726;
    color: antiquewhite;
    padding: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    position: relative;
  }
  
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  letter-spacing: 0.075em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
  
  nav ul {
    list-style: none;
    display: flex;
  }

  .nav-item {
    margin-left: 2rem;
    text-decoration: none;
    color: antiquewhite;
    padding-right: 50px;
    letter-spacing: 0.075em;
    }
  
  .nav-item:hover {
    color: #877847;
  }
  

  .image-container {
    grid-area: image;
  }
  
  .skill-container {
    grid-area: skill;
    padding-top: 3.5rem;
    padding-left: 6rem;
  }
  
  .hobbies-container {
    grid-area: hobby;
    padding-left: 6rem;
  }
  
  .contact-box {
    grid-area: contact;
    background-color: #877847;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3.5rem;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
    letter-spacing: 0.075em;
    font-weight: bold;
    font-size: 20px;
  }
  
  .socialmedia-box {
    grid-area: social;
    display: flex;
    justify-content: space-between;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 3.5rem;
  }
  
  .info-box {
    grid-area: info;
    padding-top: 8rem;
    padding-left: 3.5rem;
    margin-right: 1rem;
  }
  
  .cv-box {
    grid-area: "cv-box";
    padding-top: 8rem;
    padding-right: 50px;
  }
  
  .main-page {
    display: grid;
    grid-template-areas:
      "image skill"
      "image hobby"
      "contact contact"
      "social social"
      "info cv-box";
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .profil-image {
    width: 40rem;
    height: auto;
    padding-top: 3.5rem;
    padding-left: 3.5rem;
  } 

  .image-caption {
    color: #494726;
    padding-left: 3.5rem;
    padding-top: 10px;
    padding-bottom: 25px;
  }

  .social-image {
    width: 8rem;
    height: auto;
  }

  .link {
    text-decoration: none;
    color: white;
    padding-top: 1.5rem;
    text-align: center;
    padding-bottom: 1.5rem;
    font-weight: bold;
  }
  .social {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border-radius: 50px;
    background-color: #877847;
  }

  .subtitle {
    text-decoration: underline;
    color: #494726;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-bottom: 0.5rem;
  }

  .tag-box {
    width: 30rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tag {
    background-color:#877847;
    color: white;
    border-radius: 8px;
    margin-top: 0.5px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    width: 8rem;
  }

  .number {
    text-transform: uppercase;
  }

  footer {
    background-color: #494726;
    color: white;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  
  }