* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #494726;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.title {
position: absolute;
top: 55%;
left: 50%;
translate: -50% -50%;
letter-spacing: 0.075em;
padding-top: 3rem;
padding-bottom: 3rem;
font-weight: lighter;
}

nav ul {
  list-style: none;
  display: flex;
  padding-left: 5rem;
}

.nav-item {
  font-size: 0.75rem;
  text-decoration: none;
  color: white;
  padding-right: 2rem;
  letter-spacing: 0.075em;
  font-weight: lighter;
  }

.nav-item:hover {
  color: #877847;
}


/* aside */

.fixed-info {
  position: fixed;
  top: 10rem;
  left: 2rem;
  font-size: 0.75rem;
  z-index: 2;
}

.fixed-info-head {
  text-transform: uppercase;
  padding-bottom: 0.75rem;
  color: #494726;
  font-weight: lighter;
}

.fixed-info-text {
  font-weight: lighter;
  line-height: 1rem;
  color: #877847;
}


/* profil section */

.profil-section {
  display: flex;
  position: absolute;
  top: 10rem;
  left: 19rem;
  font-weight: lighter;
}

.profil-image {
  height: 20rem;
}

.profil-info {
padding-left: 4rem;
width: 450px;
color: #494726;
}

.profil-head {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.7rem;
}

.profil-text {
  padding-top: 2rem;
  line-height: 1.3rem;
}


/* social section */

.social-media-section {
  position: absolute;
  top: 580px;
  width: 100%;
  background-color: #494726;
}

.social-image {
  width: 4rem;
  height: auto;
  padding-bottom: 1rem;
}

.social-media-box {
  display: flex;
  justify-content: center;
}


.link {
  text-decoration: none;
  color: white;
  padding-top: 1.5rem;
  text-align: center;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}


/* social section */

.social-media-section {
  position: absolute;
  top: 580px;
  width: 100%;
  background-color: #494726;
}

.social-image {
  width: 4rem;
  height: auto;
  padding-bottom: 1rem;
}

.social-media-box {
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
  padding-top: 1.5rem;
  text-align: center;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

/* skill section */

.skill-section {
  display: flex;
  position: absolute;
  top: 53rem;
  left: 19rem;
}

.skill-info {
  width: 20rem;
  font-weight: lighter;
}

.skill-head {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.7rem;
}

.skill-text {
  padding-top: 2rem;
  line-height: 1.3rem;
}

.skill-button {
  border: none;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  margin-top: 1rem;
  line-height: 1.3rem;
  font-size: 1rem;
}

.skill-button:hover {
  color: #877847;
}

.skill-box {
  padding-left: 4rem;
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 1rem;
  width: 500px;
}

.skill {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.7rem;
  background-color: #E9E1D6;
  padding: 1rem;
  border-radius: 10px;
  align-self: center;
}

.skill:hover {
  opacity: 50%;
}

footer {
  position: absolute;
  top: 1220px;
  width: 100%;
  background-color: #494726;
  }

table {
  padding-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

  .footer-cell {
    font-size: 0.75rem;
    text-decoration: none;
    line-height: 2rem;
    color: white;
    padding-right: 2rem;
    letter-spacing: 0.075em;
    font-weight: lighter;
    text-transform: uppercase;
  }

  .footer-cell:hover {
    color: #877847;
  }
